*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shop{
    display: grid;
    justify-items: center;
}

@media (min-width: 700px) {
    .shop{
        display: grid;
        grid-template-columns: repeat(2, 350px);
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .shop{
        grid-template-columns: repeat(2, 450px);
    }
}



.head{
    display: flex;
    justify-content: space-around;
}

.cartshop{
    height:170px;
    max-width: 412px;
    margin-left: 10px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}

.cartshop div{
    display: grid;
    align-items: space-between;
    text-align: center;
    justify-items: center;
}

.cartshop :first-child img{
    height: 122px;
    width: 98px;
    object-fit: contain;
}

h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

@media (min-width: 1024px) {
    .resume h3{
        font-family: 'Quicksand', sans-serif;
        font-size: 20px;
    }
    
}

.butondelete{
    cursor: pointer;
}

.contador{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}

button{
    cursor: pointer;
}

.contador button{
    background-color: black;
    color: white;
    height: 24px;
    width: 24px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
}

.finalresumen{
    display: grid;
    justify-items: center;
    align-content: center;
}

.resume{
    display: grid;
    align-items: center;
    justify-items: center;
    height: 148px;
    width: 233px;
    border: 2px black solid;
    border-radius: 24px;
    margin-bottom: 20px;
}

@media (min-width: 1024px) {
    .resume{
        height: 200px;
        width: 400px;
        border-radius: 24px;
        margin-bottom: 20px;
    }
    
}

.resume button{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    border: none;
    background-color: #C4CFFF;
    width: 154px;
    height: 34px;
    border-radius: 17px;
}

@media (min-width: 1024px) {
    .resume button{
        font-size: 20px;
        width: 300px;
        height: 44px;
        border-radius: 22px;
    }
    
}

.lastbutton{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    border: none;
    background-color: #848FBC;
    width: 154px;
    height: 34px;
    border-radius: 17px;
    margin-bottom: 20px;
}

@media (min-width: 1024px) {
    .lastbutton{
        font-size: 20px;
        width: 300px;
        height: 44px;
        border-radius: 22px;
    }
    
}