.head{
    display: flex;
    justify-content: space-around;
}

.cartshop{
    height: 200px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}

.cartshop div{
    display: grid;
    align-items: space-between;
    text-align: center;
    justify-items: center;
}

h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}


.contador{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}

.contador button{
    background-color: black;
    color: white;
    height: 24px;
    width: 24px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
}