*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    display: flex;
    flex-direction: column;
    background-color: #E8E4FF;
    width: 100vw;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-bottom: 70px;
}



.social{
    display: flex;
    gap: 62px;
}

.footer h3{
    font-family: 'Pacifico', cursive;
    font-size: 16px;
    font-weight: 400;
}

.footer h6{
    font-family: 'Quicksand', sans-serif;
}

