*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 31px;
    margin-top: 1rem;
}

.Header img{
    height: 60px;
}

.Header  h1{
    font-family: 'Pacifico', cursive;
    font-size: 24px;
}