*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category{
  display: flex;
  gap: 2rem;
}

.category button{
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  border: none;
  
}

#maquillaje{
  background-color: #C4CFFF;
  width: 79px;
  height: 24px;
  border-radius: 12px;
}