.nav{
    background-color: #F4CDCC;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nav li{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bolsa{
    position: relative;
    z-index: 0;
}

.cicle{
    display: grid;
    justify-content: center;
    position: absolute;
    right: -5px;
    z-index: 1;
    background-color:#E82929;
    height: 18px;
    width: 18px;
    border-radius: 9px;
}

