*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product{
    border: 3px black solid;
    border-radius: 23px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 11px;
    width: 240px;
    height: 148px;
    margin: 26px;
}

.foto{
    display: flex;
    align-items: center;
}

.info_prod{
    display: grid;
    justify-items: center;
    align-content: space-between;
    text-align: center;
}

.product h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

.contador{
    display: flex;
    gap: 10px;
    
}

.contador button{
    background-color: black;
    color: white;
    height: 24px;
    width: 24px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
}