*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product{
    border: 3px black solid;
    border-radius: 23px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 11px;
    width: 240px;
    height: 148px;
    margin: 26px;
}

.foto{
    display: flex;
    align-items: center;
}

.info_prod{
    display: grid;
    justify-items: center;
    align-content: space-between;
    text-align: center;
}

.product h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

.info_prod button{
    border: 2px pink solid;
    width: 60px;
    padding: 3px;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    background-color: transparent;
    font-weight: 700;
}

